/* Local font faces for the docs theme.
   Files live in /public/media/fonts (checked into this repo).
*/

@font-face {
    font-family: 'Mona Sans';
    src: url('/assets/fonts/Mona_Sans/MonaSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona Sans';
    src: url('/assets/fonts/Mona_Sans/MonaSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hubot Sans';
    src: url('/assets/fonts/Hubot_Sans/HubotSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hubot Sans';
    src: url('/assets/fonts/Hubot_Sans/HubotSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: italic;
    font-display: swap;
}
