# Ignore everything by default
/*

# Keep these
!/.gitignore
!/README.md

# Keep app and content folders
!/app/
!/app/**
!/content/
!/content/**

# Ignore sensitive config files
app/config/ava.php
app/config/users.php

